<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://todo-api-eu-dyapekf0eucvcjbs.scm.westeurope-01.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/12d1a65f-5328-4097-a6be-e7942b695c96/resourcegroups/todo-api-eu/providers/Microsoft.ContainerRegistry/registries/TodoApi20260413134528</ContainerResourceId>
    <ContainerResourceName>TodoApi20260413134528</ContainerResourceName>
    <Subscription>Visual Studio Professional Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>todoapi20260413134528.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/12d1a65f-5328-4097-a6be-e7942b695c96/resourcegroups/todo-api-eu/providers/Microsoft.Web/sites/todo-api-eu</ResourceId>
    <ResourceGroup>todo-api-eu</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://todo-api-eu-dyapekf0eucvcjbs.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a9d74eac-f660-8a73-e2ea-c8ef81470181</ProjectGuid>
  </PropertyGroup>
</Project>